body {
  background-color: #ddd;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav ul li {
  display: inline-block;
}

.settings-cell {
  padding: 0.5rem 0;
}

#canvas {
  width: 500px;
  height: 500px;
}

.directory-row {
  line-height: 20px;
}

.transaction-result {
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
}

th {
  text-align: left;
}