<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='gqllite.js')}}"></script>
  {% block header %}{% endblock %}
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {% if logged_in %}
        <li><a href="/settings">Settings</a></li>
        <li><a href="#" id="logout">Logout</a></li>
      {% else %}
        <li><a href="/sign-up">Sign-up</a></li>
        <li><a href="/login">Login</a></li>
      {% endif %}
    </ul>
  </nav>
  <main class="content-container">
    {% block content %}{% endblock %}
  </main>
  <script type="text/javascript">
    document
      .getElementById('logout')
      .addEventListener('click', (e) => {
        deleteCookie('token');
        window.location.reload(false);
      });
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>