{% extends "layout/base.html" %}

{% block content %}
  <h1>Directory</h1>
  <table class="directory"></table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const goatImgStrs = [
    {% for g_img in goat_imgs %}
    '{{ g_img | e }}',
    {% endfor %}
  ];
  const directory = document.querySelector('.directory');
  sendQuery(
    `{allUsers {
        edges {
          node {
            name
            goatvatar
            goats {edges {node {id } } }
          }
        }
      }}`)
    .then((json) => {
      const users = json.data.allUsers.edges;
      for ({node} of users) {
        const {name, goatvatar, goats} = node;
        const goatCount = goats.edges.length;
        const tr = document.createElement("tr");
        tr.className = 'directory-row';
        tr.appendChild(makeAvatarCell(goatvatar-1));
        tr.appendChild(makeNameLinkCell(name));
        tr.appendChild(makeCell(`${goatCount} goat${goatCount > 1 ? 's' : ''}`));
        directory.appendChild(tr);
      }
    })
    .catch((json) => {
      console.log(json);
    });

  function makeCell(contents) {
    const cell = document.createElement('td');
    cell.textContent = contents;
    return cell;
  }

  function makeAvatarCell(gid) {
    const cell = document.createElement('td');
    const img = document.createElement('img');
    img.src = `data:image/png;base64,${goatImgStrs[gid]}`;
    img.style.height = '16px';
    cell.appendChild(img);
    return cell;
  }

  function makeNameLinkCell(contents) {
    const cell = document.createElement('td');
    const a = document.createElement('a');
    a.textContent = contents;
    a.href = `/${contents}`;
    cell.appendChild(a);
    return cell;
  }

  function formatTimestamp(ts) {
    return new Date(ts).toLocaleString();
  }
</script>
{% endblock %}