{% extends "layout/base.html" %}

{% block content %}
  <h1>Ledger</h1>
  <table class="ledger"></table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const ledger = document.querySelector('.ledger');
  sendQuery(
    `{ allTransactions(sort:TIMESTAMP_DESC) {
      edges {
        node {
          transactionId
          status
          fromUser {
            name
          }
          toUser {
            name
          }
          timestamp
        }
      }
    }}`)
    .then((json) => {
      const transactions = json.data.allTransactions.edges;
      for ({node} of transactions) {
        const {transactionId, status, fromUser, toUser, timestamp} = node;
        const tr = document.createElement("tr");
        tr.appendChild(makeNameLinkCell(toUser.name));
        tr.appendChild(makeCell('<-'));
        tr.appendChild(makeNameLinkCell(fromUser.name));
        tr.appendChild(makeCell(formatTimestamp(timestamp)));
        tr.appendChild(makeTransactionLinkCell(transactionId, status));
        ledger.appendChild(tr);
      }
    })
    .catch((json) => {
      console.log(json);
    });

  function makeCell(contents) {
    const cell = document.createElement('td');
    cell.textContent = contents;
    return cell;
  }

  function makeNameLinkCell(contents) {
    const cell = document.createElement('td');
    const a = document.createElement('a');
    a.textContent = contents;
    a.href = `/${contents}`;
    cell.appendChild(a);
    return cell;
  }

  function makeTransactionLinkCell(tid, status) {
    const cell = document.createElement('td');
    const a = document.createElement('a');
    a.textContent = status;
    a.href = `/transaction/${tid}`;
    cell.appendChild(a);
    return cell;
  }

  function formatTimestamp(ts) {
    return new Date(ts + 'Z').toLocaleString();
  }
</script>
{% endblock %}