{% extends "layout/base.html" %}

{% block content %}
  <h1>Welcome {{ username }}</h1>
  <hr>
  <canvas id="canvas">
  </canvas>
  <hr>
  <div class="info-panel" style="display: none;">
    <ul>
      <li>Original owner: <a class="original-owner-label"></a></li>
      <li class="transaction-row" style="display: none;">
        Last transaction:
        <span class="transactions-date-label"></span>
        from
        <a class="transactions-user-label"></a>
        <p class="transaction-reason"></p>
      </li>
    </ul>
  </div>
  <hr>
  <table class="transaction-log">

  </table>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% include 'canvascore.js' %}
</script>
<script type="text/javascript">
  console.log('my userpage');
  const goatPanel = document.querySelector('.info-panel');
  const ownerLabel = document.querySelector('.original-owner-label');
  const transactionRow = document.querySelector('.transaction-row');
  const transactionDateLabel = document.querySelector('.transactions-date-label');
  const transactionUserLabel = document.querySelector('.transactions-user-label');
  const transactionLog = document.querySelector('.transaction-log');
  const transactionReason = document.querySelector('.transaction-reason');

  function didClick(x,y) {
    const gid = goatNearestToClick(x,y);
    if (!gid) {
      return;
    }
    selectGoat(goatById[gid].center[0], goatById[gid].center[1]);
    selectedGoatId = gid;
    goatPanel.style.display = 'block';
    const {name} = goatById[gid].origOwner;
    ownerLabel.textContent = name;
    if (name !== '{{username}}') {
      ownerLabel.href = `/${name}`;
    } else {
      ownerLabel.removeAttribute('href');
    }
    sendQuery(
      `{
        transactionsForGoat(goatId: ${selectedGoatId}) {
          fromUser { name }
          timestamp
          resolved
          reason
        }
      }`
    ).then((json) => {
      if (json.data.transactionsForGoat.length == 0) {
        transactionRow.style.display = 'none';
        return;
      } else {
        transactionRow.style.display = 'block';
      }
      const transactions = json.data.transactionsForGoat.sort((a, b) => {
        return Date.parse(b.resolved) - Date.parse(a.resolved);
      });
      const {fromUser, timestamp, reason} = transactions[0];
      transactionDateLabel.textContent = `${formatTimestamp(timestamp)}`;
      if (reason && reason.length) {
        transactionReason.textContent = `"${reason}"`;
      }
      const {name} = fromUser;
      transactionUserLabel.textContent = name;
      transactionUserLabel.href = `/${name}`;
    }).catch((json) => {
      console.log(json);
    });
  }

  sendQuery(`{transactionsFrom(userId: {{user_id}}) {
    fromUser {
      name
    }
    toUser {
      name
    }
    timestamp}}
  `).then((json) => {
    const transactions = json.data.transactionsFrom;
    for ({fromUser, toUser, timestamp} of transactions) {
      const tr = document.createElement("tr");
      tr.appendChild(makeCell(fromUser.name));
      tr.appendChild(makeCell('➔'));
      tr.appendChild(makeNameLinkCell(toUser.name));
      tr.appendChild(makeCell(formatTimestamp(timestamp)));
      transactionLog.appendChild(tr);
    }
  }).catch((json) => {
    console.log(json);
  });

  function makeCell(contents) {
    const cell = document.createElement('td');
    cell.textContent = contents;
    return cell;
  }

  function makeNameLinkCell(contents) {
    const cell = document.createElement('td');
    const a = document.createElement('a');
    a.textContent = contents;
    a.href = `/${contents}`;
    cell.appendChild(a);
    return cell;
  }

</script>
{% endblock %}