{% extends "layout/base.html" %}

{% block content %}
  <h1>{{ username }}'s Goats</h1>
  <canvas id="canvas">
  </canvas>
  <div class="info-panel" style="display: none;">
    <ul>
      <li>Original owner: <span class="original-owner-label"></span></li>
      <li class="transaction-row" style="display: none;">Last transaction:
        <span class="transactions-date-label"></span>
        from
        <span class="transactions-user-label"></span>
      </li>
    </ul>
    <button class="steal-button" style="display: none;">Steal!</button>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
{% include 'canvascore.js' %}
</script>
<script type="text/javascript">
  const goatPanel = document.querySelector('.info-panel');
  const ownerLabel = document.querySelector('.original-owner-label');
  const transactionRow = document.querySelector('.transaction-row');
  const transactionDateLabel = document.querySelector('.transactions-date-label');
  const transactionUserLabel = document.querySelector('.transactions-user-label');
  const stealButton = document.querySelector('.steal-button');
  let selectedGoatId = null;

  function didClick(x,y) {
    const gid = goatNearestToClick(x,y);
    if (!gid) {
      return;
    }
    selectGoat(goatById[gid].center[0], goatById[gid].center[1]);
    selectedGoatId = gid;
    goatPanel.style.display = 'block';
    const {name} = goatById[gid].origOwner;
    ownerLabel.textContent = name;
    if (name !== '{{my_username}}') {
      stealButton.style.display = 'block';
    }
    sendQuery(
      `{
        transactionsForGoat(goatId: ${selectedGoatId}) {
          fromUser
          timestamp
        }
      }`
    ).then((json) => {
      if (json.data.transactionsForGoat.length == 0) {
        transactionRow.style.display = 'none';
        return;
      }
      const {fromUser, timestamp} = json.data.transactionsForGoat[0];
      transactionRow.style.display = 'block';
      transactionDateLabel.textContent = `${timestamp}`;
      sendQuery(`{userById(userId: ${fromUser}) {name}}`)
        .then((json2) => {
          const {name} = json2.data.userById;
          transactionUserLabel.textContent = name;
        });
    }).catch((json) => {
      console.log(json);
    });
  }

  stealButton.addEventListener('click', (e) => {
    const fromUser = goatById[selectedGoatId].origOwner.userId;
    const goatId = selectedGoatId;
    const token = getCookie('token');
    sendQuery(
      `mutation TakeGoat($fromUser:Int!, $goatId:Int!, $token:String!) {
        takeGoat(fromUser:$fromUser, goatId:$goatId, token:$token) {
          transaction {
            transactionId
          }
        }
      }`,
      {fromUser, goatId, token},
      'TakeGoat'
    ).then((json) => {
      removeGoatAndRedraw(selectedGoatId);
      selectedGoatId = null;
      goatPanel.style.display = 'none';
    }).catch((json) => {
      console.log(json);
    });
  });
</script>
{% endblock %}