{% extends "layout/base.html" %}

{% block content %}
  <h1>Settings</h1>
  <div class="settings-cell">
    <label for="email">Email: <input type="email" name="email" /></label>
    <button id="update-email">Update email</button>
    <span class="email-result"></span>
  </div>

  <div class="settings-cell">
    <label for="password">
      Update Password:
      <input type="password" name="password" />
    </label>
    <br>
    <label for="confirm-password">
      Confirm Password:
      <input type="password" name="confirm-password" />
    </label>
    <button id="update-password">Update password</button>
    <span class="password-result"></span>
  </div>

  <div class="settings-cell">
    <span for="goat">Choose your goat-vatar:</span>
    <form name="goatType" id="goat-type">
      <ul>
        {% for i in range(1,6) %}
        <li>
          {% set fname = 'goat' ~ i ~ 'x75.png' %}
          <label>
            <input name="goat" type="radio" value="{{i}}" id="goat{{i}}">
            <img src="{{url_for('static', filename=fname)}}" alt="goat {{i}}">
          </label>
        </li>
        {% endfor %}
      </ul>
    </form>
    <button id="update-goat">Update</button>
    <span class="goat-result"></span>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const updateEmail = document.getElementById('update-email');
  const emailForm = document.querySelector('input[type=email]');
  const emailResult = document.querySelector('.email-result');

  const [newPasswordInput, confirmPasswordInput] =
    document.querySelectorAll('input[type=password]');
  const updatePassword = document.getElementById('update-password');
  const passwordResult = document.querySelector('.password-result');

  const goatForm = document.getElementById('goat-type');
  const updateGoat = document.getElementById('update-goat');
  const goatResult = document.querySelector('.goat-result');
  let oldGoat = -1;
  sendQuery(`
    {
      userByName(name: "{{username}}") {
        name
        email
        goatvatar
      }
    }`
  ).then(successCallback)
  .catch(errorCallback);

  function successCallback(json) {
    const {email, goatvatar} = json.data.userByName;
    emailForm.value = email;
    document.getElementById(`goat${goatvatar}`).checked = true;
    oldGoat = goatvatar;
  }

  function errorCallback(err) {
    console.log('something went wrong', err);
  }

  updateEmail.addEventListener('click', (e) => {
    const token = getCookie('token');
    const newEmail = emailForm.value;
    sendQuery(
      `mutation updateUserEmail($newEmail:String!, $token:String!) {
        updateUserEmail(newEmail:$newEmail, token:$token) {
          newEmail
        }
      }`,
      {newEmail, token},
      'updateUserEmail'
    ).then((json) => {
      emailResult.textContent = 'Email updated';
      clearField(emailResult);
    }).catch((json) => {
      emailResult.textContent = json.errors[0].message;
    });
  });

  updatePassword.addEventListener('click', (e) => {
    const token = getCookie('token');
    const newPassword = newPasswordInput.value;
    const confirmPassword = confirmPasswordInput.value;
    sendQuery(
      `mutation updateUserPassword($newPassword:String!, $confirmPassword:String!, $token:String!) {
        updateUserPassword(newPassword:$newPassword, confirmPassword:$confirmPassword, token:$token) {
          success
        }
      }`,
      {newPassword, confirmPassword, token},
      'updateUserPassword'
    ).then((json) => {
      passwordResult.textContent = 'Password updated';
      clearField(passwordResult);
    }).catch((json) => {
      passwordResult.textContent = json.errors[0].message;
    });
  });

  updateGoat.addEventListener('click', (e) => {
    const token = getCookie('token');
    let newGoat = -1;
    for (el of document.goatType) {
      if (el.checked) {
        newGoat = el.value;
        break;
      }
    }
    if (oldGoat === newGoat) {
      return;
    }
    sendQuery(
      `mutation updateUserGoat($newGoat:Int!, $token:String!) {
        updateUserGoat(newGoat:$newGoat, token:$token) {
          success
        }
      }`,
      {newGoat, token},
      'updateUserGoat'
    ).then((json) => {
      goatResult.textContent = 'Goatvatar updated';
      clearField(goatResult);
    }).catch((json) => {
      goatResult.textContent = json.errors[0].message;
    })
  });

  function clearField(field, timeout = 2500) {
    setTimeout(() => {
      field.textContent = '';
    }, timeout);
  }
</script>
{% endblock %}