{% extends "layout/base.html" %}

{% block content %}
  <h1>Settings</h1>
  <div class="settings-cell">
    <label for="email">Email: <input type="email" name="email" /></label>
    <button id="update-email">Update email</button>
    <span class="email-result"></span>
  </div>

  <div class="settings-cell">
    <label for="password">
      Update Password:
      <input type="password" name="password" />
    </label>
    <br>
    <label for="confirm-password">
      Confirm Password:
      <input type="password" name="confirm-password" />
    </label>
    <button id="update-password">Update password</button>
    <span class="password-result"></span>
  </div>

  <div class="settings-cell">
    <label for="goat">Choose your goat-vatar</label>
    {% for i in range(5) %}
    <label for="{{i}}">
      {{i}}
      <input name="{{i}}" type="radio">
    </label>
    {% endfor %}
    <button id="update-goat">Update</button>
    <span class="goat-result"></span>
  </div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const updateEmail = document.getElementById('update-email');
  const emailForm = document.querySelector('input[type=email]');
  const emailResult = document.querySelector('.email-result');

  const [newPasswordInput, confirmPasswordInput] =
    document.querySelectorAll('input[type=password]');
  const updatePassword = document.getElementById('update-password');
  const passwordResult = document.querySelector('.password-result');

  sendQuery(`
    {
      userByName(name: "{{username}}") {
        name
        email
      }
    }`
  ).then(successCallback)
  .catch(errorCallback);

  function successCallback(json) {
    emailForm.value = json.data.userByName.email;
  }

  function errorCallback(err) {
    console.log('something went wrong', err);
  }

  updateEmail.addEventListener('click', (e) => {
    const token = getCookie('token');
    const newEmail = emailForm.value;
    sendQuery(
      `mutation updateUserEmail($newEmail:String!, $token:String!) {
        updateUserEmail(newEmail:$newEmail, token:$token) {
          newEmail
        }
      }`,
      {newEmail, token},
      'updateUserEmail'
    ).then((json) => {
      emailResult.textContent = 'Email updated';
      clearField(emailResult);
    }).catch((json) => {
      emailResult.textContent = json.errors[0].message;
    });
  });

  updatePassword.addEventListener('click', (e) => {
    const token = getCookie('token');
    const newPassword = newPasswordInput.value;
    const confirmPassword = confirmPasswordInput.value;
    sendQuery(
      `mutation updateUserPassword($newPassword:String!, $confirmPassword:String!, $token:String!) {
        updateUserPassword(newPassword:$newPassword, confirmPassword:$confirmPassword, token:$token) {
          success
        }
      }`,
      {newPassword, confirmPassword, token},
      'updateUserPassword'
    ).then((json) => {
      passwordResult.textContent = 'Password updated';
      clearField(passwordResult);
    }).catch((json) => {
      passwordResult.textContent = json.errors[0].message;
    });
  });

  function clearField(field, timeout = 2500) {
    setTimeout(() => {
      field.textContent = '';
    }, timeout);
  }
</script>
{% endblock %}