{% extends "layout/base.html" %}

{% block content %}
  <h1>Ledger</h1>
  <p>To: <span>{{transaction.to_user.name}}</span></p>
  <p>From: <span>{{transaction.from_user.name}}</span></p>
  {% if transaction.status == 'pending' %}
    <div class="vote-form">
      <button class="approve-button">Approve</button>
      <button class="deny-button">Deny</button>
    </div>
    <span class="vote-error"></span>
  {% else %}
    <div>
      <p>Initiated: {{ transaction.timestamp }}</p>
      <p>Resolved: {{ transaction.resolved }}</p>
    </div>
  {% endif %}
  <h2 class='transaction-result'>
    {{ transaction.status }}
  </h2>
  <h2>Votes:</h2>
  <ul>
    {% if transaction.votes | length == 0 %}
      <li>No votes</li>
    {% else %}
      {% for vote in transaction.votes %}
      <li>{{vote.voter.name}} : {{'yay' if vote.value > 0 else 'nay'}}</li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const tid = '{{transaction.transaction_id}}';
  const ledger = document.querySelector('.ledger');

  function formatTimestamp(ts) {
    return new Date(ts).toLocaleString();
  }

  function setError(message) {
    document.querySelector('.vote-error').textContent = message;
  }

  function voteComplete() {
    document.querySelector('.vote-form').style.display = 'none';
  }

  document.querySelector('.approve-button')?.addEventListener('click', () => {
    const token = getCookie('token');
    const transactionId = {{transaction.transaction_id}};
    const value = 1;
    sendQuery(`mutation CreateVote($token:String!,$transactionId:Int!,$value:Int!) {
        createVote(token:$token, transactionId:$transactionId, value:$value) {
          status
        }
      }`,
      {token, transactionId, value},
      'CreateVote'
      ).then((json) => {
        voteComplete()
      }).catch((json) => {
        setError(json.errors[0].message);
      });
  });

  document.querySelector('.deny-button')?.addEventListener('click', () => {
    const token = getCookie('token');
    const transactionId = {{transaction.transaction_id}};
    const value = -1;
    sendQuery(`mutation CreateVote($token:String!,$transactionId:Int!,$value:Int!) {
        createVote(token:$token, transactionId:$transactionId, value:$value) {
          status
        }
      }`,
      {token, transactionId, value},
      'CreateVote'
      ).then((json) => {
        voteComplete()
      }).catch((json) => {
        setError(json.errors[0].message);
      });
  });
</script>
{% endblock %}