{% extends "layout/base.html" %}

{% block content %}
  <h1>Ledger</h1>
  <p>To: <span>{{transaction.to_user.name}}</span></p>
  <p>From: <span>{{transaction.from_user.name}}</span></p>
  {% if transaction.status == 'pending' and not has_voted %}
    <div class="vote-form">
      <button class="approve-button">Approve</button>
      <button class="deny-button">Deny</button>
    </div>
    <span class="vote-error"></span>
    <span>Remaining: <span class="resolve_timer">...</span></span>
  {% elif transaction.status == 'pending' and has_voted %}
    <h3>You have already voted</h3>
    <p>Remaining: <span class="resolve_timer">...</span></p>
  {% else %}
    <div>
      <p>Initiated: {{ transaction.timestamp }}</p>
      <p>Resolved: {{ transaction.resolved }}</p>
    </div>
  {% endif %}
  <h2 class='transaction-result'>
    {{ transaction.status }}
  </h2>
  <h2>Votes:</h2>
  <ul>
    {% if transaction.votes | length == 0 %}
      <li>No votes</li>
    {% else %}
      {% for vote in transaction.votes %}
      <li>{{vote.voter.name}} : {{'yay' if vote.value > 0 else 'nay'}}</li>
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
  const tid = '{{transaction.transaction_id}}';
  const ledger = document.querySelector('.ledger');

  function formatTimestamp(ts) {
    return new Date(ts + 'Z').toLocaleString();
  }

  function setError(message) {
    document.querySelector('.vote-error').textContent = message;
  }

  function voteComplete() {
    document.querySelector('.vote-form').style.display = 'none';
  }

  function startResolveTimer() {
    const timerOutput = document.querySelector('.resolve_timer');
    if (!timerOutput) {
      return;
    }
    const initiated = new Date('{{transaction.timestamp ~ 'Z'}}');
    const resolveTime = new Date('{{transaction.timestamp ~ 'Z'}}');
    resolveTime.setTime(resolveTime.getTime() + (1000 * 60 * 5));
    console.log(initiated, resolveTime);
    let timer = setInterval(() => {
      const seconds = Math.floor((new Date() - resolveTime) / 1000) * -1;
      if (seconds <= 0) {
        timerOutput.textContent = 'Resolving...';
        clearInterval(timer);
        setTimeout(() => {
          location.reload();
        }, 1500);
      } else {
        const minutesFmt = Math.floor(seconds / 60);
        const secondsFmt = (seconds % 60) < 10 ? `0${seconds % 60}` : (seconds % 60);
        timerOutput.textContent = `${minutesFmt}:${secondsFmt}`;
      }
    }, 1000);
  }

  document.querySelector('.approve-button')?.addEventListener('click', () => {
    const token = getCookie('token');
    const transactionId = {{transaction.transaction_id}};
    const value = 1;
    sendQuery(`mutation CreateVote($token:String!,$transactionId:Int!,$value:Int!) {
        createVote(token:$token, transactionId:$transactionId, value:$value) {
          status
        }
      }`,
      {token, transactionId, value},
      'CreateVote'
      ).then((json) => {
        voteComplete()
      }).catch((json) => {
        setError(json.errors[0].message);
      });
  });

  document.querySelector('.deny-button')?.addEventListener('click', () => {
    const token = getCookie('token');
    const transactionId = {{transaction.transaction_id}};
    const value = -1;
    sendQuery(`mutation CreateVote($token:String!,$transactionId:Int!,$value:Int!) {
        createVote(token:$token, transactionId:$transactionId, value:$value) {
          status
        }
      }`,
      {token, transactionId, value},
      'CreateVote'
      ).then((json) => {
        voteComplete()
      }).catch((json) => {
        setError(json.errors[0].message);
      });
  });
  startResolveTimer();
</script>
{% endblock %}